---
import arrow from '../../assets/arrowDown.svg';
import pokeIcon from '../../assets/poke-icon.svg';
---

<div class="size-14 animate-bounce absolute fixed bottom-10 left-5 z-30">
    <a href="#home" aria-label="Vai all'inizio">
		<img class="origin-center rotate-180" src={arrow.src} alt="Arrow up icon">
        <img src={pokeIcon.src} alt="poké ball icon">
    </a>
</div>