---

---

<div class="size-14 animate-bounce absolute fixed bottom-10 left-5 z-30">
    <a href="#header" aria-label="Vai all'inizio">
		<img class="origin-center rotate-180" src="/pokedex/arrowDown.svg" alt="Arrow up icon">
        <img src="/pokedex/poke-icon.svg" alt="poké ball icon">
    </a>
</div>