---
import Skeleton from './Skeleton.astro';

interface Props {
    imgSrc: string;
    name: string;
    className?: string;
}

const { imgSrc, name, className } = Astro.props;
---
<!-- SPRITE -->
<div class=`flex justify-center-safe items-center ${className ?? 'w-[50px] h-[50px] md:h-[90px] md:w-[90px]'} bg-amber-50/50 rounded-full` aria-label="Sprite del Pokémon">
    <Skeleton class={className} />
    <img class=`z-10 object-cover ${className ?? 'h-[50px] md:h-[90px]'} opacity-0 transition-opacity duration-300` src={imgSrc} alt={`Sprite ufficiale di ${name}`} loading="lazy" onload="this.previousElementSibling.style.display='none'; this.style.opacity='1';"/>
</div>