---
import type { Type } from '../../utils/interfaces/types'
import Skeleton from './Skeleton.astro';

interface Props {
    types: Type[];
}
const { types } = Astro.props;
const cols = "grid-cols-" + types.length;
---
<!-- TYPES BADGES -->
<div class={`grid ${cols} gap-1 items-center`} aria-label="Badge dei tipi Pokémon">
    {types.map((t: Type) => (
        <div class="flex justify-center-safe items-center w-14 h-14 border-2 border-amber-50 rounded-full p-1" aria-label={`Tipo: ${t.name}`}>
            <Skeleton />
            <img class="rounded-full opacity-0 transition-opacity duration-300" src={t.imgSrc} alt={`Icona tipo ${t.name}`} loading="lazy" onload="this.previousElementSibling.style.display='none'; this.style.opacity='1';"/>
        </div>
    ))}
</div>