---
import NavGen from "../components/commons/NavGen.astro";
import ScrollTop from "../components/commons/ScrollTop.astro";
import HeroIndex from "../components/layouts/HeroIndex.astro";
import BaseHead from "../components/utilities/BaseHead.astro";
import { fetchGenerations } from "../utils/pokeApi";

interface Props {
	title: string;
	description: string;
	isHome?: boolean;
}

const { title, description, isHome = false } = Astro.props;
const gensData = await fetchGenerations();
---

<!doctype html>
<html lang="it">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	
	<body>
		<header id="header" class="mt-5 block">
			<HeroIndex />
		</header>
		<div class="sticky top-5 z-[999]">
			<NavGen generations={gensData} isHome={isHome} />
		</div>
		<main id="main" class="mt-5">
			<slot />
			<ScrollTop />
		</main>
	</body>
</html>
