---
import BaseHead from "../components/utilities/BaseHead.astro";
import { BASE_PATH, LINKS } from "../const";
import { fetchGenerations } from "../utils/pokeApi";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const gensData = await fetchGenerations();
const gens = gensData.results;
---

<!doctype html>
<html lang="it">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
